<nav class="navbar navbar-vertical navbar-expand-lg">
  <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
    <!-- scrollbar removed-->
    <div class="navbar-vertical-content">
      <ul class="navbar-nav flex-column" id="navbarVerticalNav">
        <li class="nav-item">
          <!-- parent pages-->
          <div class="nav-item-wrapper"><a id="menu_dashboard" class="nav-link label-1 " href="/" role="button"
              data-bs-toggle="" aria-expanded="false">
              <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                    data-feather="pie-chart"></span></span><span class="nav-link-text-wrapper"><span
                    class="nav-link-text">Dashboard</span></span>
              </div>
            </a>
          </div>

          <div class="nav-item-wrapper"><a id="menu_agendamento" class="nav-link label-1" href="/agendamento"
              role="button" data-bs-toggle="" aria-expanded="false">
              <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                    data-feather="calendar"></span></span><span class="nav-link-text-wrapper"><span
                    class="nav-link-text">Agendamento </span></span>
              </div>
            </a>
          </div>

          <div class="nav-item-wrapper"><a id="menu_pesquisa_satisfacao" class="nav-link label-1" href="/crm/pesquisa_satisfacao?status=P%2CV%2CR%2CA"
              role="button" data-bs-toggle="" aria-expanded="false">
              <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                    data-feather="list"></span></span><span class="nav-link-text-wrapper"><span
                    class="nav-link-text">Pesquisa de satisfação</span></span>
              </div>
            </a>
          </div>

          <div class="nav-item-wrapper">
            <a id="menu_relatorios" class="nav-link label-1" href="/relatorios" role="button" data-bs-toggle=""
              aria-expanded="false">
              <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                    data-feather="clipboard"></span></span><span class="nav-link-text-wrapper"><span
                    class="nav-link-text">Relatórios</span></span>
              </div>
            </a>
          </div>

          <div class="nav-item-wrapper">
            <a id="menu_chatbot" class="nav-link label-1" href="/chatbot" role="button" data-bs-toggle=""
              aria-expanded="false">
              <div class="d-flex align-items-center">
                <span class="nav-link-icon"><i class="uil uil-robot"></i></span>
                <span class="nav-link-text-wrapper"><span class="nav-link-text">Chatbot</span></span>
              </div>
            </a>
          </div>

          <div class="nav-item-wrapper">
            <a id="menu_crm_showroom" class="nav-link label-1" href="/crm/eventos_showroom" role="button" data-bs-toggle=""
              aria-expanded="false">
              <div class="d-flex align-items-center">
                <span class="nav-link-icon"><i class="uil uil-phone"></i></span>
                <span class="nav-link-text-wrapper"><span class="nav-link-text">Eventos Showroom</span></span>
              </div>
            </a>
          </div>

          <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-events" role="button"
              data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-events">
              <div class="d-flex align-items-center">
                <div class="dropdown-indicator-icon-wrapper"><span
                    class="fas fa-caret-right dropdown-indicator-icon"></span></div><span class="nav-link-icon"><span
                    data-feather="bookmark"></span></span><span class="nav-link-text">Veículos</span>
              </div>
            </a>
            <div class="parent-wrapper label-1">
              <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-events">
                <li class="collapsed-nav-item-title d-none">Events
                </li>
                <li class="nav-item"><a class="nav-link" href="/veiculos/estoque">
                    <div class="d-flex align-items-center"><span class="nav-link-text">Estoque de veículos</span>
                    </div>
                  </a>
                  <!-- more inner pages-->
                </li>
                <li class="nav-item"><a class="nav-link" href="/veiculos/aguardando_faturamento">
                    <div class="d-flex align-items-center"><span class="nav-link-text">Aguardando Faturamento</span>
                    </div>
                  </a>
                  <!-- more inner pages-->
                </li>
                <li class="nav-item"><a class="nav-link" href="/veiculos/faturados">
                    <div class="d-flex align-items-center"><span class="nav-link-text">Veículos Faturados</span>
                    </div>
                  </a>
                  <!-- more inner pages-->
                </li>
              </ul>
            </div>
          </div>

        </li>
      </ul>
    </div>



  </div>

  <div class="navbar-vertical-footer">
    <button
      class="btn navbar-vertical-toggle border-0 fw-semibold w-100 white-space-nowrap d-flex align-items-center"><span
        class="uil uil-left-arrow-to-left fs-8"></span><span class="uil uil-arrow-from-right fs-8"></span><span
        class="navbar-vertical-footer-text ms-2">Minimizar</span></button>
  </div>
</nav>